.container {
    max-width: 990px;
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 8px;
}

.box {
    margin: 0px;
    width: 300px;
    height: 200px;
    border: 1px dashed blue;
    color:white;
}

.descHeading {
    margin: 0px;
    padding-left: 15px;
    text-align: left;
}

.desc {
    padding: 0px 15px 0px 15px;
    text-align: justify;
    margin-bottom: 0px;
}

#box-1 {
    background-image: url("../photos/pexels-bearmax-3960036_800x600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

#box-2 {
    background-image: url("../photos/pexels-fox-1265622_800x600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

#box-3 {
    background-image: url("../photos/pexels-fox-709481_800x600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

#box-4 {
    background-image: url("../photos/pexels-ihsan-adityawarman-1056251_800x600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

#box-5 {
    background-image: url("../photos/pexels-krysten-merriman-20787_800x600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

#box-6 {
    background-image: url("../photos/pexels-marko-blazevic-774731_800x600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

#box-7 {
    background-image: url("../photos/pexels-pixabay-416160_800x600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

#box-8 {
    background-image: url("../photos/pexels-pixabay-57416_800x600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

#box-9 {
    background-image: url("../photos/pexels-tan-danh-866496_800x600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}