body,
input,
button,
a, li {
    font-size: 14px;
    color: #202124;
    text-decoration-line: none;
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    height: 60px;
}

#nav_bar {
    display: flex;
    align-items: center;
}

.nav-links {
    margin: 0 20px 0 20;
    padding: 0 10px;
}

/* #gmail {} */
/* #images {} */

#sign_in {
    border-radius: 3px;
    background-color: #1a73e8;
    font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    padding: 9px 15px;
    text-align: center;
    vertical-align: middle;
}

#sign_in a {
    color: white;
}
main {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.google-image {
    margin: auto;
}

/* #google_logo {} */
/* #google_logo img {} */

.form-search {
    margin: auto;
    padding: 20px;
}

/* #form {} */

#form_search {
    padding: 5px;
    border-radius: 15px;
    width: 400px;
}

.buttons {
    margin: auto;
    padding: 10px;
    text-align: center;
}

#google_search, #im_feeling_lucky {
    padding: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    border-top: 1px solid rgb(212, 212, 212);
}

.footer-left {
    display: flex;
    flex-grow: 1;
}

/* #footer_left {} */

.footer-right {
    display: flex;
    flex-grow: 0;
}

/* #footer_right {} */

#advertising, #business, #about, #privacy, #terms, #settings {
    padding: 10px;
}
