body,
input,
button {
    font-size: 14px;
    font-family: arial, sans-serif;
}

header a {
    text-decoration-line: none;
    color: black;
}

#nav_bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 5px;
}

.nav-links {}

#gmail {
    margin: 0 20px 0 20;
    padding: 0 10px;
}

#images {
    margin: 0 20px 0 20;
    padding: 0 10px;
}

#sign_in {
    border-radius: 3px;
    background-color: #1a73e8;
    font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    padding: 9px 15px;
    text-align: center;
    vertical-align: middle;
}

#sign_in a {
    color: white;
}

.google-image {
    margin: auto;
    text-align: center;
}

.google-image img {
    padding: 10px;
}

#google_logo {}

.form-search {
    margin: auto;
    text-align: center;
    padding: 10px;
}

#form {}

#form_search {
    padding: 5px;
    border-radius: 15px;
    width: 400px;
}

.buttons {
    margin: auto;
    padding: 10px;
    text-align: center;
}

#google_search {}

#im_feeling_lucky {}

footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    border-top: 1px solid rgb(212, 212, 212);
}

footer a {
    color: black;
    text-decoration-line: none;
}

.footer-left {
    display: flex;
    flex-grow: 1;
    list-style: none;
}

#footer_left { }

#advertising { padding: 10px; }

#business { padding: 10px; }

#about { padding: 10px; }

.footer-right {
    display: flex;
    flex-grow: 0;
    list-style: none;
}

#footer_right {}

#privacy {padding: 10px;}

#terms {padding: 10px;}

#setting {padding: 10px;}